## Import Data in Python
### math et al

This tutorial will show how to import data into Python using the pandas library.

### Example 1

In [1]:
#First make sure to have pandas library installed. Then import the library.
import pandas as pd

read_csv can read csv, dat, and txt files

In [2]:
#Make sure file is in same path as python script or else provide full path.
path_to_file = "/Users/Daniela/Desktop/Python/import_data/housing_london.csv"
london_data = pd.read_csv(path_to_file)

In [3]:
#Show first 5 rows by default. Change by adding number into parentheses.
print(london_data.head())

         date            area  average_price       code  houses_sold  \
0  1995-01-01  city of london          91449  E09000001         17.0
1  1995-02-01  city of london          82203  E09000001          7.0
2  1995-03-01  city of london          79121  E09000001         14.0
3  1995-04-01  city of london          77101  E09000001          7.0
4  1995-05-01  city of london          84409  E09000001         10.0

   no_of_crimes  borough_flag
0           NaN             1
1           NaN             1
2           NaN             1
3           NaN             1
4           NaN             1

In [4]:
#size of dataframe
print(london_data.shape)

(13549, 7)

In [5]:
#view data types of data frame
print(london_data.dtypes)

date              object
area              object
average_price      int64
code              object
houses_sold      float64
no_of_crimes     float64
borough_flag       int64
dtype: object

### Example 2

Import directly from a URL.

In [6]:
url = "http://users.stat.ufl.edu/~winner/data/resid_energy.dat"
energy_data = pd.read_csv(url, sep=r"\s+", header=None)

In [7]:
#print header
print(energy_data.head())

      0       1     2     3      4      5     6     7      8
0  1984  235.83  3.93  2.69  44.80  20.17  5.72  7.57  15.96
1  1985  237.92  4.22  2.67  45.64  20.13  5.52  7.06  16.04
2  1986  240.13  4.46  2.66  47.26  19.84  5.17  5.50  15.98
3  1987  242.29  4.74  2.64  47.85  19.22  4.73  5.10  16.26
4  1988  244.50  5.10  2.62  48.22  18.53  4.49  4.96  17.13

In [8]:
#size of dataframe
print(energy_data.shape)

(27, 9)

In [9]:
#view data types of data frame
print(energy_data.dtypes)

0      int64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
dtype: object