## Data Splitting in Python

This tutorial goes over how to split data into test and train data sets.

First, import the data set we'll use.

In [1]:
import pandas as pd

In [2]:
housing_dat = pd.read_csv("~/Desktop/Python/data_splitting/houses_to_rent.csv")

Preview the data set.

In [3]:
housing_dat

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

Create X dataframe with predictor variables and y dataframe with outcome vairable.

In [4]:
X = housing_dat.iloc[:,1:13]

In [5]:
X

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15
6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37
6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13
6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53
6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25

In [6]:
y = housing_dat.loc[:,"total"]

In [7]:
y

0        R$9,121
1        R$1,493
2       R$12,680
3        R$2,116
4        R$1,257
          ...
6075     R$1,585
6076     R$3,768
6077     R$1,255
6078     R$3,803
6079     R$2,414
Name: total, Length: 6080, dtype: object

Use scikit-learn to split the data.

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
train_test_split(X,y,test_size=.2)

[      city  area  rooms  bathroom  parking spaces floor     animal  \
 908      1   240      3         1               2     8      acept
 3393     1   300      4         4               4    12      acept
 3658     0    58      2         1               1     2      acept
 2166     1   380      5         7               4    21      acept
 2217     1   192      3         3               3    16      acept
 ...    ...   ...    ...       ...             ...   ...        ...
 1049     1    38      1         1               0    16  not acept
 492      1    48      2         1               0     -      acept
 979      0    57      1         1               1     2      acept
 3610     1   260      2         3               4     -      acept
 360      1   400      3         3               2     -  not acept

           furniture      hoa rent amount property tax fire insurance
 908   not furnished  R$2,088     R$4,000      R$1,449           R$51
 3393  not furnished  R$3,000    R$10,000      R$1,167          R$127
 3658  not furnished    R$332     R$1,200         R$25           R$16
 2166  not furnished  R$3,200     R$6,000      R$2,084           R$77
 2217      furnished  R$1,790     R$6,500        R$630           R$83
 ...             ...      ...         ...          ...            ...
 1049  not furnished    R$188     R$2,001          R$0           R$26
 492   not furnished    R$100     R$1,350          R$0           R$18
 979   not furnished    R$690     R$2,600        R$131           R$33
 3610  not furnished      R$0     R$5,500        R$142           R$83
 360   not furnished      R$0    R$12,000          R$0          R$181

 [4864 rows x 12 columns],
       city  area  rooms  bathroom  parking spaces floor     animal  \
 1796     1   469      4         5               4    12      acept
 3083     1   220      4         2               2     3  not acept
 3771     0    74      3         2               1     4      acept
 813      1    60      2         1               0     -      acept
 1163     1   127      2         1               2     -      acept
 ...    ...   ...    ...       ...             ...   ...        ...
 3040     1   167      3         2               1     7      acept
 3864     1    48      1         1               1     2  not acept
 2913     1    49      2         1               1     6      acept
 725      0    70      2         2               2    15      acept
 3515     1    42      1         1               1     9      acept

           furniture      hoa rent amount property tax fire insurance
 1796  not furnished  R$5,706    R$15,000      R$2,260          R$191
 3083  not furnished  R$2,560     R$8,000        R$650          R$102
 3771  not furnished    R$390     R$1,000         R$24           R$13
 813   not furnished  Incluso     R$1,200         R$38           R$19
 1163  not furnished      R$0     R$2,250        R$247           R$34
 ...             ...      ...         ...          ...            ...
 3040  not furnished  R$1,787    R$10,850        R$532          R$138
 3864  not furnished    R$867     R$2,300        R$133           R$30
 2913  not furnished    R$277     R$2,100        R$104           R$27
 725       furnished    R$600     R$2,890         R$84           R$37
 3515      furnished    R$565     R$3,800         R$24           R$49

 [1216 rows x 12 columns],
 908      R$7,588
 3393    R$14,290
 3658     R$1,573
 2166    R$11,360
 2217     R$9,003
           ...
 1049     R$2,215
 492      R$1,468
 979      R$3,454
 3610     R$5,725
 360     R$12,180
 Name: total, Length: 4864, dtype: object,
 1796    R$23,160
 3083    R$11,310
 3771     R$1,427
 813      R$1,257
 1163     R$2,531
           ...
 3040    R$13,310
 3864     R$3,330
 2913     R$2,508
 725      R$3,611
 3515     R$4,438
 Name: total, Length: 1216, dtype: object]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2)

Add optional parameter to set a seed.

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2, random_state = 1337)